# --- Gradle ---
.gradle/
build/
out/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- Java ---
*.class
*.log
*.jar
*.war

# --- Frontend ---
frontend/node_modules/
frontend/dist/

# --- DB ---
*.db

# --- OS ---
.DS_Store
Thumbs.db
